
#content-container { display: block; position: relative; width: 1366px;  margin-left: auto; margin-right: auto;  }

#_bg__halaman_utama {
	top: 0px;
	left: 0px;
	width: 1366px;
	height: 2782px;
	background:rgba(255,255,255,1);
}


#rectangle_60 {
	top: 650px;
	left: 0px;
	width: 1366px;
	height: 1819px;
	background:rgba(249,249,249,1);
}


#mask_group_1__1 {
	top: -51px;
	left: 596px;
	width: 768px;
	height: 701px;
}


#rectangle_84 {
	top: 150px;
	left: 655px;
	width: 403px;
	height: 225.86px;
	-ms-border-radius: 19.47px;
	-o-border-radius: 19.47px;
	-moz-border-radius: 19.47px;
	-webkit-border-radius: 19.47px;
	border-radius: 19.47px;
	-ms-box-shadow:5.84px 6.82px 20px 1px rgba(0,0,0,0.1);
	-o-box-shadow:5.84px 6.82px 20px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:5.84px 6.82px 20px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:5.84px 6.82px 20px 1px rgba(0,0,0,0.1);
	box-shadow:5.84px 6.82px 20px 1px rgba(0,0,0,0.1);
	background:rgba(255,255,255,1);
}


#rectangle_87 {
	top: 140px;
	left: 644px;
	width: 429px;
	height: 250px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	border: 2px solid #29b866;
	background:rgba(255,255,255,0);
}


#__ {
	top: 164px;
	left: 671px;
	width: 51px;
	height: 47.17px;
}


#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__tincidunt_neque_penatibus_massa_ac_sagittis__amet__erat_adipiscing_praesent__nulla_posuere_scelerisque_duis_sagittis_ridiculus_velit__porttitor_faucibus_amet__pellentesque_dolor_pharetra_non_eget_porttitor_ultricies_ {
	top: 188.2px;
	left: 702.23px;
	width: 356.27149646759px;
	height: 100.84149646759px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11.68px;
	text-align: left;
	line-height: 17.426559810638px;
	color:#595959;
}


#menteri_agama_republik_indonesia {
	top: 322.76px;
	left: 702.21px;
	width: 206.30359020233px;
	height: 19.613590202332px;
	overflow: hidden;
	font-family: Inter;
	font-size: 8.81px;
	text-align: left;
	color:#808080;
}


#yaqut_cholil_qoumas {
	top: 295.08px;
	left: 702.21px;
	width: 232.72626403809px;
	height: 37.346264038086px;
	overflow: hidden;
	font-family: Merriweather;
	font-size: 18.87px;
	font-weight: bold;
	text-align: left;
	line-height: 28.154039694071px;
	color:#29B866;
}


#img_0347_1 {
	top: 168px;
	left: 681px;
	width: 723px;
	height: 482px;
}


#rectangle_86 {
	top: 728px;
	left: 102px;
	width: 1160px;
	height: 407px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(41,184,102,1);
}


#rectangle_56 {
	top: 31px;
	left: 1181px;
	width: 81px;
	height: 35px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(41,184,102,1);
}

#layer_x0020_1 {
	top: 31px;
	left: 171px;
	width: 117px;
	height: 43.88px;
}

#vector {
	top: 31px;
	left: 0px;
	width: 117px;
	height: 12.76px;
}


#vector_ek1 {
	top: 2px;
	left: 2px;
	width: 17.13px;
	height: 23.86px;
}


#_1 {
	top: 10px;
	left: 16px;
	width: 12.76px;
	height: 15.93px;
}


#_2 {
	top: 10px;
	left: 28px;
	width: 15.96px;
	height: 15.93px;
}


#_3 {
	top: 0px;
	left: 45px;
	width: 18.62px;
	height: 25.86px;
}


#_4 {
	top: 3px;
	left: 60px;
	width: 9.05px;
	height: 23.18px;
}


#_5 {
	top: 0px;
	left: 66px;
	width: 15.46px;
	height: 25.86px;
}


#_6 {
	top: 3px;
	left: 80px;
	width: 9.05px;
	height: 23.18px;
}


#_7 {
	top: 10px;
	left: 87px;
	width: 15.57px;
	height: 15.95px;
}


#vector_ek2 {
	top: 27px;
	left: 6px;
	width: 2.79px;
	height: 3.16px;
}


#_1_ek1 {
	top: 28px;
	left: 9px;
	width: 2.31px;
	height: 2.4px;
}


#_2_ek1 {
	top: 27px;
	left: 12px;
	width: 0.59px;
	height: 3.16px;
}


#_3_ek1 {
	top: 28px;
	left: 13px;
	width: 2.09px;
	height: 2.4px;
}


#_4_ek1 {
	top: 27px;
	left: 15px;
	width: 2.07px;
	height: 3.16px;
}


#_5_ek1 {
	top: 28px;
	left: 17px;
	width: 2.1px;
	height: 2.4px;
}


#_6_ek1 {
	top: 27px;
	left: 20px;
	width: 0.59px;
	height: 3.16px;
}


#_7_ek1 {
	top: 27px;
	left: 22px;
	width: 2.35px;
	height: 3.16px;
}


#_8 {
	top: 27px;
	left: 25px;
	width: 0.59px;
	height: 3.16px;
}


#_9 {
	top: 28px;
	left: 26px;
	width: 2.09px;
	height: 2.4px;
}


#_10 {
	top: 27px;
	left: 29px;
	width: 2.07px;
	height: 3.16px;
}


#_11 {
	top: 27px;
	left: 31px;
	width: 1.32px;
	height: 3.16px;
}


#_12 {
	top: 28px;
	left: 33px;
	width: 1.45px;
	height: 2.34px;
}


#_13 {
	top: 28px;
	left: 34px;
	width: 2.31px;
	height: 2.4px;
}


#_14 {
	top: 28px;
	left: 37px;
	width: 2.05px;
	height: 2.34px;
}


#_15 {
	top: 27px;
	left: 40px;
	width: 0.59px;
	height: 3.16px;
}


#_16 {
	top: 27px;
	left: 41px;
	width: 2.07px;
	height: 3.16px;
}


#_17 {
	top: 27px;
	left: 45px;
	width: 2.6px;
	height: 3.16px;
}


#_18 {
	top: 28px;
	left: 48px;
	width: 2.04px;
	height: 2.35px;
}


#_19 {
	top: 27px;
	left: 50px;
	width: 2.07px;
	height: 3.16px;
}


#_20 {
	top: 28px;
	left: 53px;
	width: 2.04px;
	height: 2.35px;
}


#_21 {
	top: 27px;
	left: 57px;
	width: 2.37px;
	height: 3.16px;
}


#_22 {
	top: 28px;
	left: 59px;
	width: 2.09px;
	height: 2.4px;
}


#_23 {
	top: 28px;
	left: 62px;
	width: 2.05px;
	height: 2.34px;
}


#_24 {
	top: 27px;
	left: 64px;
	width: 2.19px;
	height: 3.22px;
}


#_25 {
	top: 27px;
	left: 67px;
	width: 0.59px;
	height: 3.16px;
}


#_26 {
	top: 27px;
	left: 68px;
	width: 2.19px;
	height: 3.22px;
}


#_27 {
	top: 27px;
	left: 71px;
	width: 0.59px;
	height: 3.16px;
}


#_28 {
	top: 27px;
	left: 72px;
	width: 2.07px;
	height: 3.16px;
}


#_29 {
	top: 28px;
	left: 74px;
	width: 2.1px;
	height: 2.4px;
}


#_30 {
	top: 28px;
	left: 77px;
	width: 2.05px;
	height: 2.34px;
}


#_31 {
	top: 27px;
	left: 80px;
	width: 3.11px;
	height: 3.16px;
}


#_32 {
	top: 28px;
	left: 84px;
	width: 2.19px;
	height: 3.26px;
}


#_33 {
	top: 28px;
	left: 86px;
	width: 2.1px;
	height: 2.4px;
}


#_34 {
	top: 28px;
	left: 89px;
	width: 3.3px;
	height: 2.34px;
}


#_35 {
	top: 28px;
	left: 93px;
	width: 2.1px;
	height: 2.4px;
}


#_36 {
	top: 27px;
	left: 96px;
	width: 0.63px;
	height: 3.16px;
}


#_37 {
	top: 28px;
	left: 97px;
	width: 2.1px;
	height: 2.4px;
}


#_38 {
	top: 27px;
	left: 100px;
	width: 0.59px;
	height: 3.16px;
}


#_39 {
	top: 28px;
	left: 101px;
	width: 2.1px;
	height: 2.4px;
}


#_40 {
	top: 28px;
	left: 103px;
	width: 3.3px;
	height: 2.34px;
}


#beranda {
	top: 40px;
	left: 693px;
	width: 69px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#646464;
}


#kategori {
	top: 40px;
	left: 796px;
	width: 72px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#646464;
}


#tentang_buku_digital {
	top: 40px;
	left: 902px;
	width: 155px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#646464;
}


#video {
	top: 40px;
	left: 1088px;
	width: 49px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#646464;
}


#login {
	top: 40px;
	left: 1203px;
	width: 48px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


.rectangle_51 {
	width: 340px;
	height: 49px;
    outline-style: none;
    padding: 20px;
	font-family: ;
	-ms-border-radius: 53px;
	-o-border-radius: 53px;
	-moz-border-radius: 53px;
	-webkit-border-radius: 53px;
	border-radius: 53px;
	border: 1px solid #ededed;
	background:rgba(255,255,255,1);
}

.input_search{
	outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}




#masukkan_kata_kunci {
	top: 422px;
	left: 134px;
	width: 132px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	text-align: left;
	color:#5B6D6F;
}


#cari_buku_pendidikan_agama_islam_disini {
	top: 233px;
	left: 106px;
	width: 444px;
	height: 120px;
	overflow: hidden;
	font-family: Merriweather;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	color:#29B866;
}


#kumpulan_buku {
	top: 1421px;
	left: 102px;
	width: 423.5px;
	height: 60.5px;
	overflow: hidden;
	font-family: Merriweather;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	color:#29B866;
}


#kumpulan_modul {
	top: 1902px;
	left: 99px;
	width: 423.5px;
	height: 60.5px;
	overflow: hidden;
	font-family: Merriweather;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	color:#29B866;
}


#silakan_gunakan_pencarian_untuk_mencari_judul_dan_bab_buku_pembelajaran_pendidikan_agama_islam_untuk_siswa_dan_guru_ {
	top: 341px;
	left: 106px;
	width: 385px;
	height: 43px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	text-align: left;
	color:#3C3C3C;
}

#group_102 {
	top: 1017px;
	left: 783px;
	width: 127px;
	height: 35px;
}

#rectangle_88 {
	top: 0px;
	left: 0px;
	width: 127px;
	height: 35px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,1);
}


#lebih_lengkap {
	top: 10px;
	left: 23px;
	width: 93px;
	height: 23px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#29B866;
}


#cari__download___baca____ {
	top: 812px;
	left: 779px;
	width: 438.5px;
	height: 58.5px;
	overflow: hidden;
	font-family: Merriweather;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#buku_digital_adalah_persembahan_direktorat_jenderal_pendidikan_islam_melalui_direktorat_pendidikan_agama_islam_sebagai_sarana_dan_usaha_dalam_rangka_menghadirkan_buku_bancaan_pelajaran_pembelajaran_agama_islam_yang_terpercaya_dan_mudah_diakses__harapannya_masyarakat_dapat_mengakses_referensi_buku_pendidikan_agama_islam_kapanpun_dan_dimanapun_secara_gratis_ {
	top: 870px;
	left: 783px;
	width: 404px;
	height: 115px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	text-align: left;
	line-height: 17.90399980545px;
	color:#FFFFFF;
}


#_668px_kementerian_agama_new_logo_2 {
	top: 30px;
	left: 106px;
	width: 51px;
	height: 45px;
}


#lebih_lengkap_ek1 {
	top: 1432px;
	left: 918px;
	width: 325.00000047684px;
	height: 31.000000476837px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: right;
	color:#808080;
}


#lebih_lengkap_ek2 {
	top: 1913px;
	left: 915px;
	width: 325.00000047684px;
	height: 31.000000476837px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: right;
	color:#808080;
}


#rectangle_11 {
	top: 2782px;
	left: 0px;
	width: 1368px;
	height: 63px;
	background:rgba(41,184,102,1);
}


#rectangle_15 {
	top: 2469px;
	left: 0px;
	width: 1366px;
	height: 251px;
	background:rgba(255,255,255,1);
}


#vector_1 {
	top: 2541.5px;
	left: 519px;
	width: 210.5px;
	height: 0px;
}


#vector_2 {
	top: 2541px;
	left: 975px;
	width: 210.5px;
	height: 0px;
}


#logo_kemenag_2 {
	top: 2572px;
	left: 98px;
	width: 57px;
	height: 50px;
}


#copyright___direktorat_pai___imp_studio___2019 {
	top: 2744px;
	left: 526px;
	width: 325.5px;
	height: 24.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	text-align: center;
	color:#FFFFFF;
}


#jl__lapangan_banteng_barat_no__3_4_lantai_8_jakarta_pusat_10710__email__direktorat_pai_kemenag_go_id {
	top: 2555px;
	left: 975px;
	width: 306.5px;
	height: 64.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	text-align: left;
	line-height: 16.227499604225px;
	color:#494949;
}


#tentang_kami {
	top: 2516px;
	left: 519px;
	width: 159px;
	height: 28px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	line-height: 17.702726840973px;
	color:#000000;
}


#direktorat_pai {
	top: 2515px;
	left: 975px;
	width: 159px;
	height: 28px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	line-height: 17.702726840973px;
	color:#000000;
}


#rectangle_61 {
	top: 1969px;
	left: 103px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_62 {
	top: 1969px;
	left: 337.87px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_63 {
	top: 1969px;
	left: 572.74px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_64 {
	top: 1969px;
	left: 807.61px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_65 {
	top: 1969px;
	left: 1042px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#cover_15_10_2020_5f886761608cf_1 {
	top: 1993px;
	left: 130px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_4 {
	top: 1993px;
	left: 600px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_5 {
	top: 1993px;
	left: 834px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_6 {
	top: 1993px;
	left: 1069px;
	width: 149.13px;
	height: 207.03px;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii {
	top: 2212.68px;
	left: 130.18px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek1 {
	top: 2212.68px;
	left: 365.05px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek2 {
	top: 2212.68px;
	left: 599.92px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek3 {
	top: 2212.68px;
	left: 834.79px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek4 {
	top: 2212.68px;
	left: 1069.18px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#kategori_buku_referensi {
	top: 2262.2px;
	left: 131.15px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek1 {
	top: 2262.2px;
	left: 366.02px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek2 {
	top: 2262.2px;
	left: 600.89px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek3 {
	top: 2262.2px;
	left: 835.76px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek4 {
	top: 2262.2px;
	left: 1070.15px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#cover_15_10_2020_5f881230ad476_1 {
	top: 1993px;
	left: 367px;
	width: 149.13px;
	height: 213.33px;
}


#vector_3 {
	top: 1642px;
	left: 1265px;
	width: 18.5px;
	height: 37px;
}


#vector_5 {
	top: 2117px;
	left: 1265px;
	width: 18.5px;
	height: 37px;
}


#vector_4 {
	top: 1605px;
	left: 67px;
	width: 18px;
	height: 37px;
}


#vector_6 {
	top: 2080px;
	left: 67px;
	width: 18px;
	height: 37px;
}


#buku_digital_adalah_persembahan_direktorat_jenderal_pendidikan_islam_melalui_direktorat_pendidikan_agama_islam_sebagai_sarana_dan_usaha_dalam_rangka_menghadirkan_buku_bancaan_pelajaran_pembelajaran_agama_islam_yang_terpercaya_dan_mudah_diakses__harapannya_masyarakat_dapat_mengakses_referensi_buku_pendidikan_agama_islam_kapanpun_dan_dimanapun_secara_gratis__ek1 {
	top: 2549.5px;
	left: 519px;
	width: 395.5px;
	height: 121.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 11px;
	text-align: left;
	line-height: 16.411999821663px;
	color:#494949;
}


#direktorat_pendidikan_agama_islam_direktorat_jenderal_pendidikan_islam_kementerian_agama_republik_indonesia {
	top: 2572px;
	left: 167px;
	width: 270px;
	height: 57.88px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	text-align: left;
	line-height: 17.702726840973px;
	color:#000000;
}


#ellipse_2 {
	top: 44px;
	left: 681px;
	width: 9px;
	height: 9px;
	-ms-border-radius: 4.5px / 4.5px;
	-o-border-radius: 4.5px / 4.5px;
	-moz-border-radius: 4.5px / 4.5px;
	-webkit-border-radius: 4.5px / 4.5px;
	border-radius: 4.5px / 4.5px;
	background:rgba(41,184,102,1);
}

#group_69 {
	top: 1493px;
	left: 103px;
	width: 1142.88px;
	height: 333px;
}
#group_67 {
	top: 0px;
	left: 0px;
	width: 1142.88px;
	height: 333px;
}

#rectangle_61_ek1 {
	top: 0px;
	left: 0px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_62_ek1 {
	top: 0px;
	left: 235px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_63_ek1 {
	top: 0px;
	left: 470px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_64_ek1 {
	top: 0px;
	left: 705px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#rectangle_65_ek1 {
	top: 0px;
	left: 939px;
	width: 203.88px;
	height: 333px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-o-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-webkit-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	-moz-box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	box-shadow:0px 80.43px 64px 1px rgba(210,210,210,0.07);
	background:rgba(255,255,255,1);
}


#cover_15_10_2020_5f886761608cf_1_ek1 {
	top: 24px;
	left: 27px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_4_ek1 {
	top: 24px;
	left: 497px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_5_ek1 {
	top: 24px;
	left: 731px;
	width: 149.13px;
	height: 207.03px;
}


#cover_15_10_2020_5f886761608cf_6_ek1 {
	top: 24px;
	left: 966px;
	width: 149.13px;
	height: 207.03px;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek5 {
	top: 244px;
	left: 27px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek6 {
	top: 244px;
	left: 262px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_iii_ek7 {
	top: 244px;
	left: 497px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_smp_kelas_ix {
	top: 244px;
	left: 732px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#pendidikan_agama_islam_dan_budi_pekerti_sekolah_dasar_kelas_i {
	top: 244px;
	left: 966px;
	width: 159.57260850906px;
	height: 56.572608509064px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12.07px;
	font-weight: bold;
	text-align: left;
	color:#3C3C3C;
}


#kategori_buku_referensi_ek5 {
	top: 293px;
	left: 28px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek6 {
	top: 293px;
	left: 263px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek7 {
	top: 293px;
	left: 498px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek8 {
	top: 293px;
	left: 733px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#kategori_buku_referensi_ek9 {
	top: 293px;
	left: 967px;
	width: 140.88608699799px;
	height: 22.356086997986px;
	overflow: hidden;
	font-family: Inter;
	font-size: 9.65px;
	text-align: left;
	color:#29B866;
}


#cover_15_10_2020_5f881230ad476_1_ek1 {
	top: 24px;
	left: 264px;
	width: 149.13px;
	height: 213.33px;
}


#cover_15_10_2020_5f8870bdbe19d_2 {
	top: 1517px;
	left: 600px;
	width: 148.41px;
	height: 207.86px;
}


#cover_15_10_2020_5f87f689d1a17_1 {
	top: 1516px;
	left: 835px;
	width: 149px;
	height: 208.59px;
}


#cover_15_10_2020_5f884a108e18d_1 {
	top: 1516px;
	left: 1069px;
	width: 149.47px;
	height: 207.32px;
}

#chevron_right {
	top: 1612.35px;
	left: 843.72px;
	width: 24px;
	height: 24px;
}

#vector_ek3 {
	top: 6px;
	left: 8.59px;
	width: 7.41px;
	height: 12px;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

.ellipse_4 {
	width: 45px;
	height: 45px;
	-ms-border-radius: 25.5px / 25.5px;
	-o-border-radius: 25.5px / 25.5px;
	-moz-border-radius: 25.5px / 25.5px;
	-webkit-border-radius: 25.5px / 25.5px;
	border-radius: 25.5px / 25.5px;
	background:rgba(41,184,102,1);
}

#magnify {
	top: 418px;
	left: 459px;
	width: 24px;
	height: 24px;
}

#vector_ek4 {
	top: 3px;
	left: 3px;
	width: 17.5px;
	height: 17.5px;
}

#group_92 {
	top: 781px;
	left: 0px;
	width: 740px;
	height: 450.31px;
}

#cover_15_10_2020_5f8827be034b0_2 {
	top: 41px;
	left: 165px;
	width: 135.73px;
	height: 192.55px;
}


#cover_15_10_2020_5f881230ad476_2 {
	top: 246px;
	left: 603px;
	width: 136.18px;
	height: 194.81px;
}


#cover_15_10_2020_5f87d1b3e7c31_2 {
	top: 38px;
	left: 373px;
	width: 134.31px;
	height: 189.66px;
}


#cover_15_10_2020_5f87f689d1a17_2 {
	top: 175px;
	left: 270px;
	width: 141.24px;
	height: 198.8px;
}


#cover_15_10_2020_5f8849fa7e2fd_3 {
	top: 213px;
	left: 1px;
	width: 135.09px;
	height: 190.61px;
}


#cover_15_10_2020_5f886761608cf_2 {
	top: 264px;
	left: 383px;
	width: 133.81px;
	height: 185.76px;
}


#cover_15_10_2020_5f880afed7002_1 {
	top: 0px;
	left: 552px;
	width: 132.79px;
	height: 186.18px;
}


#cursor_intro_dozenal_numerals_steve_lovelace_8_1 {
	top: 954px;
	left: 653px;
	width: 23px;
	height: 28px;
}



/* Add your custom CSS here */
